
.weather-main{
    display: flex;
    justify-content: space-between;
    color: white;
    width: 1034px;
    margin: auto;
    margin-top: 50px;
    background-color: #222831;
    border-radius: 30px 25px 25px 30px;
}

.weather-location-info{
    padding: 60px 30px 80px 30px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 30px;
    text-shadow: -1px -1px 0 black,  
                  1px -1px 0 black,
                 -1px  1px 0 black,
                  1px  1px 0 black;
    z-index: 10;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.location-info{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-direction: column;
    margin-bottom: 200px;
}

.location-info-weekday{
    font-size: 37px;
    margin: 0;
}

.date{
    display: flex;
    font-size: 22px;
    font-weight: 400;
}


.location-info-date, .location-info-year{
    margin: 0;
}



.location-info-city{
    display: flex;
    gap: 10px;
}

.location-info-city-name{
    font-size: 20px;
}

.weather-info{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.weather-info-icon img{
    height: 95px;
    width: 95px;
}

.weather-info-temp{
    font-size: 50px;
    font-weight: 600;
}

.weather-info-state{
    font-size: 30px;
    font-weight: 600;
}

.weather-forecast-info{
    display: flex;
    color: white;
    padding: 60px 60px 80px 30px;
    flex-wrap: wrap;
    border-radius: 0px 25px 25px 0;
    width: 420px;
    margin: 0
}

.date-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 420px;
    margin-bottom: 25px;
}
.precipitation, .humidity, .wind-speed, .cloud, .visibility, .gusts, .wind-direction, .pressure, .wind-degree{
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
}

.precipitation-name, .humidity-name, .wind-name, .cloud-name, .visibility-name, .gusts-name, .wind-direction-name, .pressure-name, .wind-degree-name{ 
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}
.precipitation-mm, .humidity-percent, .wind-speed, .cloud-percent, .visibility-km, .gusts-km, .wind-direction-deg, .pressure-hpa, .wind-degree-deg{
    font-size: 28px;
    font-weight: 400;
    margin: 0;
}

.choose-city{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 420px;
}

.choose-city .city-name{
    padding: 13px 112.5px;
    background-color: white;
    border-radius: 10px;
}

.choose-city .set-city{
    background: linear-gradient(#90D9E0, #5460E6);
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.set-city img{
    width: 33px;
    height: 33px;
    margin-right: 15px;
}

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
}

.error-description{
    font-size: 20px;
    font-weight: 400;
}

.reload{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 20px;
    background: linear-gradient(#90D9E0, #5460E6);
    color: white;
    border-radius: 10px;
}