
.weather-main{
    display: flex;
    justify-content: space-between;
    color: white;
    width: 1034px;
    margin: auto;
    background-color: #222831;
    border-radius: 30px 25px 25px 30px;
}

.weather-location-info{
    padding: 60px 30px 80px 30px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 30px;
    text-shadow: -1px -1px 0 black,  
                  1px -1px 0 black,
                 -1px  1px 0 black,
                  1px  1px 0 black;
    z-index: 10;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.location-info{
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin-bottom: 200px;
}

.location-info-weekday{
    font-size: 37px;
}

.date{
    display: flex;
    font-size: 22px;
    font-weight: 400;
}

.location-info-city{
    display: flex;
    gap: 10px;
}


.location-info-city-name{
    font-size: 20px;
}

.weather-info{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.weather-info-icon img{
    height: 95px;
    width: 95px;
}

.weather-info-temp{
    font-size: 50px;
    font-weight: 600;
}

.weather-info-state{
    font-size: 30px;
    font-weight: 600;
}

.weather-forecast-info{
    display: flex;
    color: white;
    padding: 65px 80px;
    flex-wrap: wrap;
    border-radius: 0px 25px 25px 0;
    width: 542px;
}

.date-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 420px;
    margin-bottom: 25px;
}
.precipitation, .humidity, .wind-speed{
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
}

.precipitation-name, .humidity-name, .wind-name{
    font-size: 28px;
    font-weight: 700;
}
.precipitation-amount, .humidity-percent, .wind-speed{
    font-size: 28px;
    font-weight: 400;
}

.weather-forecast{
    display: flex;
    
}

.forecast{
    height: 165px;
    width: 95.5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.weather-forecast-img img{
    height: 55px;
    width: 55px;
}

.day-of-forecast{
    height: 24px;
    width: fit-content;
    font-size: 18px;
}

.weather-forecast-temp{
    font-size: 20px;
    width: fit-content;
    display: flex;
}

.choose-city{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 415px;
    margin: auto;
}

.choose-city .city-name{
    padding: 13px 105px;
    background-color: white;
    border-radius: 10px;
}

.choose-city .set-city{
    background: linear-gradient(#90D9E0, #5460E6);
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.set-city img{
    width: 33px;
    height: 33px;
    margin-right: 15px;
}
