.weather-forecast{
    display: flex;
    background-color: red;
    height: 165px;
    width: 104px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    align-items: center;
}
.weather-forecast-img{
    background-color: black;
    height: 55px;
    width: 55px;
}

.day-of-week{
    background-color: black;
    height: 24px;
    width: 37px;
}

.weather-forecast-temp{
    font-size: 20px;
    width: 55px;
    background-color: black;
}
